<ion-header>
  <ion-toolbar>
    <ion-title>
      Palvelut lähelläsi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="openStreetMap" #openStreetMap></div>
  <ion-text *ngIf="terveydeksi.paikannusvirhe" color="danger">{{ terveydeksi.paikannusvirhe }}</ion-text>
  <ion-list>
    <ion-list-header>Lista yrityksistä</ion-list-header>
    <ion-text color="danger" *ngIf="terveydeksi.paikannusvirhe" class="ion-margin-start">{{ terveydeksi.paikannusvirhe }}</ion-text>
    <ion-item detail *ngFor="let yritys of terveydeksi.yritykset" (click)="avaaYritysModal(yritys);">
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>{{ yritys.nimi }}</h2>
        </ion-text>
        <ion-text color="secondary">
          <p *ngIf="yritys.distance">{{ yritys.distance.toFixed(2) }} km päässä</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>