<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      {{ terveydeksi.hakulause ? "Hae palveluja" : "Palvelut lähelläsi" }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="locateButton();"><ion-icon name="locate"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="openStreetMap" #openStreetMap></div>
  <ion-list>
    <ion-text color="danger" *ngIf="terveydeksi.paikannusvirhe && !terveydeksi.httpVirhe">{{ terveydeksi.paikannusvirhe }}</ion-text>
    <div *ngIf="terveydeksi.httpVirhe">
      <ion-text color="danger">{{ terveydeksi.httpVirhe }}</ion-text>
      <ion-button (click)="terveydeksi.haeYritykset();" size="large" expand="block">Yritä uudelleen</ion-button>
      <ion-img src="assets/cat.jpg" alt="Have a cat!"></ion-img>
    </div>
    <div *ngIf="terveydeksi.hakulause">
      <h3 *ngIf="terveydeksi.yritykset.length > 0">Palvelut paikkakunnalla {{ terveydeksi.hakulause | titlecase }} ({{ terveydeksi.yritykset.length }} kpl)</h3>
      <h3 *ngIf="terveydeksi.yritykset.length === 0">Ei hakuloksia hakusanalla {{ terveydeksi.hakulause }}</h3>
      <ion-button (click)="showAll();">Näytä kaikki</ion-button>
    </div>
    <ion-item color="dark" *ngFor="let yritys of terveydeksi.yritykset" (click)="avaaYritysModal(yritys);">
      <ion-label text-wrap>
        <ion-text>
          <h1>{{ yritys.nimi }}</h1>
        </ion-text>
        <ion-text>
          <p *ngIf="yritys.distance">{{ yritys.distance.toFixed(2) }} km päässä</p>
          <p>{{ yritys.tyyppi }}</p>
        </ion-text>
      </ion-label>
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>