<!--  Näyttää mielestäni paremmalta ilman headeria T: Jere
<ion-header>
  <ion-toolbar>
    <ion-title>
      Terveydeksi! - Ammattilaiset lähelläsi
    </ion-title>
  </ion-toolbar>
</ion-header>
--> 

<ion-content padding>
  <ion-img src="assets/tervlogo2.png" alt="placeholderkuva"></ion-img>
  <ion-button color="light" size="default" expand="block">Hae nykyiseltä alueelta<ion-icon name="locate"></ion-icon></ion-button>
  <ion-searchbar color="light" placeholder="Kaupungin nimi..."></ion-searchbar>
</ion-content>