<ion-content padding>
  <ion-img src="assets/tervlogo2.png" alt="placeholderkuva"></ion-img>
  <ion-button (click)="haeNykAlueelta();" color="light" size="large" expand="block">Hae lähialueilta<ion-icon name="locate"></ion-icon></ion-button>
  <ion-item lines="none" no-padding>
  <ion-searchbar (keyup.enter)="hae();" [(ngModel)]="hakulause" color="light" placeholder="Kaupunki..." autocomplete="on" autocorrect="on" animated></ion-searchbar>
  <ion-button (click)="hae();" size="default" color="light">Hae</ion-button>
  </ion-item>
</ion-content>