<ion-header>
  <ion-toolbar color="dark">
    <ion-title *ngIf="page1">Varaa aika</ion-title>
    <ion-title *ngIf="!page1">Varauksen tiedot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="page1">
    <!-- https://github.com/write2sv/ionic4-date-picker -->
    <ionic-calendar-date-picker
      (onSelect)="pvmValittu($event);"
      [monthLabels]="['Tammikuu','Helmikuu','Maaliskuu','Huhtikuu','Toukokuu','Kesäkuu','Heinäkuu','Elokuu','Syyskuu','Lokakuu','Marraskuu','Joulukuu']"
      [dayLabels]="['Su','Ma','Ti','Ke','To','Pe','La']"
      [fromDate]="today"
    >
    </ionic-calendar-date-picker>

    <ion-item *ngIf="varaus.valittuDate">
      <ion-label>Valitse kellonaika</ion-label>
      <ion-datetime [(ngModel)]="varaus.klo" displayFormat="H:mm" cancelText="Peruuta" doneText="Ok" minuteValues="0,15,30,45"></ion-datetime>
    </ion-item>
  </div>

  <ion-card *ngIf="!page1" color="dark">
    <ion-item-divider color="dark">
      <ion-icon name="time" slot="start"></ion-icon>
      <ion-label>AJANVARAUS</ion-label>
    </ion-item-divider>
    <ion-item color="dark">
      <ion-label>Aika: {{ varaus.valittuDatePinta }} klo. {{ varaus.klo | date:"shortTime":undefined:"fi" }}</ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-label>Yritys: {{ varaus.palveluntarjoaja.nimi }}</ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-label>Osoite: {{ varaus.palveluntarjoaja.osoite }}</ion-label>
    </ion-item>
    <ion-item-divider color="dark">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>OMAT TIEDOT</ion-label>
    </ion-item-divider>
    <ion-item color="dark">
      <ion-label>Etu- ja sukunimi: {{ varaus.asiakas.etunimi }} {{ varaus.asiakas.sukunimi }}</ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-label>Osoite: {{ varaus.asiakas.katuosoite }}</ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-label>Postinumero: {{ varaus.asiakas.postinumero }}</ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-label>Postitoimipaikka: {{ varaus.asiakas.postitoimipaikka }}</ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-label>Puhelinnumero: {{ varaus.asiakas.puhelinnumero }}</ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-label>Email: {{ varaus.asiakas.email }}</ion-label>
    </ion-item>  
  </ion-card>
</ion-content>

<ion-footer *ngIf="varaus.valittuDate && varaus.klo">
  <ion-button (click)="varausSeuraavaNappi();" [disabled]="seuraavaNappiDisabloitu" expand="block" size="large" color="dark">{{ (page1) ? "Seuraava" : "Vahvista varaus" }}</ion-button>
</ion-footer>

