<ion-header>
  <ion-toolbar>
    <ion-title>Varaa aika</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="page1">
    <!-- https://github.com/write2sv/ionic4-date-picker -->
    <ionic-calendar-date-picker
      (onSelect)="pvmValittu($event);"
      [monthLabels]="['Tammikuu','Helmikuu','Maaliskuu','Huhtikuu','Toukokuu','Kesäkuu','Heinäkuu','Elokuu','Syyskuu','Lokakuu','Marraskuu','Joulukuu']"
      [dayLabels]="['Su','Ma','Ti','Ke','To','Pe','La']"
    >
    </ionic-calendar-date-picker>

    <ion-item *ngIf="varaus.aikaleima">
      <ion-label>Valitse kellonaika</ion-label>
      <ion-datetime [(ngModel)]="varaus.klo" displayFormat="H:mm" cancelText="Peruuta" doneText="Ok" minuteValues="0,15,30,45"></ion-datetime>
    </ion-item>
  </div>

  <div *ngIf="!page1">
    <!-- Tässä pitäisi näkyä varauksen tiedot -->
    {{ varaus | json }}
  </div>
</ion-content>

<ion-footer *ngIf="varaus.aikaleima && varaus.klo">
  <ion-button (click)="varausSeuraavaNappi();" expand="block" size="large">{{ (page1) ? "Seuraava" : "Vahvista varaus" }}</ion-button>
</ion-footer>