<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="suljeModal();">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <h4>{{ yritys.nimi }}</h4>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>{{ yritys.nimi }}</ion-card-title>
      <ion-card-subtitle>{{ yritys.tyyppi }}, {{ (yritys.distance) ? yritys.distance.toFixed(2) : "?" }} km päässä</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="openStreetMap" #openStreetMap></div>
      <ion-button *ngIf="terveydeksi.loginToken" (click)="varaaAika(yritys.id);">Varaa aika</ion-button>
      <hr />
      <ion-text *ngIf="yritys.kuvaus">{{ yritys.kuvaus }}</ion-text>

      <ion-list>
        <ion-item>
          <ion-label>Katuosoite</ion-label>
          <p>{{ yritys.katuosoite }}</p>
        </ion-item>
        <ion-item>
          <ion-label>Postinumero ja -toimipaikka</ion-label>
          <p>{{ yritys.postinumero }} {{ yritys.postitoimipaikka }}</p>
        </ion-item>
        <ion-item *ngIf="yritys.puhelinnumero">
          <ion-label>Puhelinnumero</ion-label>
          <p>{{ yritys.puhelinnumero }}</p>
          <ion-button color="success">
            <ion-icon name="call"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item *ngIf="yritys.email">
          <ion-label>Sähköpostisoite</ion-label>
          <p>{{ yritys.email }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>